footer {
  padding: 27px 30px 26px;
  background-color: $black;
  color: $white-text;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  a {
    color: $white-text;
    transition: all 0.3s;
  }
  p {
    margin: 5px 0;
  }
  @include breakpoint(xs) {
    padding: 20px 10px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  p {
    margin-top: 0;
    padding-right: 15px;
  }
  @include breakpoint(xs) {
    flex-direction: column;
    p {
      margin-bottom: 10px;
      padding-right: 0;
    }
  }
}
