* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: $background-intro;
  color: $black;
  font-family: "Open Sans", sans-serif;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

img,
iframe,
svg {
  width: auto;
  max-width: 100%;
  flex-shrink: 0;
}

img {
  height: auto !important;
  width: auto;
  display: block;
}

.inner {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 64px;
  @media (max-width: 992px) {
    padding: 0 32px;
    margin: 64px auto;
  }
}

.intro-wrapper {
  background: $background-intro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  min-height: calc(100vh - 69px);
  gap: 64px;
  @include breakpoint(xs) {
    flex-direction: column-reverse;
    padding: 0;
    min-height: inherit;
    gap: 32px;
  }
  svg {
    width: 400px;
    height: 400px;
    fill: #565656;
    margin-bottom: 30px;
    @include breakpoint(xs) {
      width: 200px;
      height: 200px;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;
    width: 50%;
    line-height: 1.6;
    p {
      font-size: 1.8rem;
    }
    @media (max-width: 992px) {
      width: 70%;
    }
    @include breakpoint(xs) {
      padding: 0px;
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    width: 50%;
    @media (max-width: 992px) {
      width: 30%;
    }
    @include breakpoint(xs) {
      padding: 0;
      width: 100%;
    }
  }
}

form {
  background: $blue;
  padding: 12px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 30px;
  gap: 16px;
  label {
    color: $black;
    line-height: 1.2;
  }
  select {
    border-radius: 0;
    border: 2px solid $black;
    @include breakpoint(xs) {
      width: 100%;
    }
  }
  @include breakpoint(xs) {
    width: 100%;
    border-left: none;
    flex-direction: column;
    text-align: left;
    align-items: start;
    gap: 8px;
  }
}

.content-area {
  position: relative;
  background-size: 5%;
  background-repeat: repeat-y;
  background-position: 3% 10px, 97% 10px;
  @include breakpoint(xs) {
    background-size: 7%;
    background-position: 2% 5px, 98% 5px;
  }
}

main {
  @media (max-width: 700px) {
    min-height: calc(100vh - 69px);
  }
}

.list-title-bar {
  position: sticky;
  top: 68px;
  background: $black;
  z-index: 4;
  pointer-events: none;
  @media (max-width: 700px) {
    top: 53px;
  }
}

.list-title-bar h2 {
  text-align: center;
  padding: 12px 0 20px;
  margin: 0 auto;
  font-size: 2rem;
  color: $white;
  @include breakpoint(xs) {
    padding: 15px 10px;
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.4rem;
}

.movies-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  width: 80%;
  background: $black;
  padding: 0 10px;
  @include breakpoint(xs) {
    padding: 0;
  }
}

.movie {
  padding: 12px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include breakpoint(sm) {
    width: 50%;
  }
  @include breakpoint(xs) {
    width: 100%;
    line-height: 1.3;
    padding: 0 10px 10px;
    p {
      font-size: 1.4rem;
    }
  }
  img {
    aspect-ratio: 0.66 / 1;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .writeup {
    background-color: $white;
    flex-grow: 1;
    padding: 10px 24px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 1.6;
  }
}

body.credit {
  background-image: none;
  line-height: 2;
}

.credit ul li {
  list-style: none;
}

.credit header {
  background: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
