header.site-header {
  text-align: center;
  padding: 26px 20px 4px;
  margin: 0;
  background-color: $black;
  color: rgba(255, 255, 255, 0.7);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid $black;
  z-index: 5;
  @media (max-width: 500px) {
    padding: 36px 5px 4px;
  }
}

h1 {
  font-size: 3.2rem;
  font-family: "Fredoka One", cursive;
  margin: 0;
  @media (max-width: 500px) {
    font-size: 2.4rem;
  }
}
